VITE_AUTH_API=http://127.0.0.1/auth/api/v1/
VITE_BIKE_API=http://127.0.0.1/bikes/api/v1/
VITE_EVENTS_API=http://127.0.0.1/events/api/v1/
VITE_MAP_API=http://127.0.0.1/map/api/v1/
VITE_RENTAL_API=http://127.0.0.1/rentals/api/v1/