MYSQL_URI=mysql+pymysql://user:password@mysql-host:3306/rental_db
RABBITMQ_URL=amqp://guest:guest@rabbitmq-host:5672/
RABBITMQ_EXCHANGE=rentals
RABBITMQ_ROUTING_KEY=rental.started
BIKE_SERVICE_URL=http://bike-service:8080

FIREBASE_TYPE=service_account
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_TOKEN_URI=https://oauth2.googleapis.com/token
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FIREBASE_CLIENT_X509_CERT_URL=
FIREBASE_UNIVERSE_DOMAIN=googleapis.com