# Use "localhost" for local dev, "mysql" when running inside Docker Compose
DATABASE_URL=mysql+pymysql://bikes_user:bikes_pass@mysql:3306/bikes_db
DATABASE_TEST_URL=mysql+pymysql://bikes_user:bikes_pass@mysql:3306/bikes_test_db
FLASK_ENV=development
FLASK_SECRET_KEY=change-me-in-production
PORT=8080

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@host.docker.internal:5672/
RABBITMQ_REPLY_TIMEOUT=10
RABBITMQ_ENABLED=true

# Firebase
FIREBASE_TYPE=service_account
FIREBASE_PROJECT_ID=value
FIREBASE_PRIVATE_KEY_ID=value
FIREBASE_PRIVATE_KEY=value
FIREBASE_CLIENT_EMAIL=value
FIREBASE_CLIENT_ID=value
FIREBASE_AUTH_URI=value
FIREBASE_TOKEN_URI=value
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=value
FIREBASE_CLIENT_X509_CERT_URL=value
FIREBASE_UNIVERSE_DOMAIN=value