FLASK_APP=app.py
FLASK_RUN_PORT=5000
FIREBASE_WEB_API_KEY=value
FIREBASE_TYPE=value
FIREBASE_PROJECT_ID=value
FIREBASE_PRIVATE_KEY_ID=value
FIREBASE_PRIVATE_KEY=value
FIREBASE_CLIENT_EMAIL=value
FIREBASE_CLIENT_ID=value
FIREBASE_AUTH_URI=value
FIREBASE_TOKEN_URI=value
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=value
FIREBASE_CLIENT_X509_CERT_URL=value
FIREBASE_UNIVERSE_DOMAIN=value